.panel {
  margin-bottom: 0;
}
.row-answer{color:#f6f8f1;font-weight:bold;}
  .alegria{background:#fbdb4c;}
	.sorpresa{background:#44a2c4;}					    
	.admiracion{background:#7cbc0d;}
	.asombro{background:#0081a8;}					
	.serenidad{background:#e4d970;}					    
	.confianza{background:#99cb38;}
